body{
    background-image:url(./back.jpg);
}

#keret{
    width: 1000px;
    margin: auto;
}

#header{
    min-width: 650px;
    max-width: 1000px;
    background-image: url(./panorama.jpg);
    background-position: 100%;
    background-size: cover;
    height: 160px;
}

#cimer{
    width: 150px;
    float: right;
}

.bal{
    float: left;
    width: 450px;
    background-color: #5b9cea;
    padding: 10px;
}

.jobb{
    float: right;
    width: 450px;
    background-color: #5b9cea;
    padding: 10px;
}

table{
    background-color: #b0d1f1;
    text-align: center;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
}